################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Database/.vs/Database/v16
/Database/Server/bin/Debug
/Database/Server/obj/Debug
/Database/DatabaseTestClient/bin/Debug
/Database/DatabaseTestClient/obj
/Database/DAL/obj
/Database/packages
/Database/DAL/bin/Debug
/Database/MigrationBackup/e18da7b8/DAL
/Database/Tests/bin/Debug
/Database/Tests/obj
